<footer>
        <div class="container mx-auto mt-10 md:px-3 mb-14">
            <div class="grid grid-cols-2 grid-rows-5 gap-2 mx-5 lg:grid-cols-5 lg:grid-rows-2">
                    <div class="col-span-1 col-start-1 lg:row-span-1 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">What We Do</h2>
                        <ul class="font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class=" hover:underline">Learning Content</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Learning Platforms</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Learning Consultancy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid col-span-1 col-start-2 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">Industries</h2>
                        <ul class="font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Healthcare</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Public Sector</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Commercial</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Charity</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid col-span-1 col-start-1 lg:col-start-3 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">Use Cases</h2>
                        <ul class="font-sans font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Health &amp; Wellbeing</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Digital Transformation</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Sustainability</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Product Training</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Companies &amp; Policy</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Diversity &amp; Inclusion</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid col-span-1 col-start-2 md:col-start-4 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">Explore</h2>
                        <ul class="font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Case Studies</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Resources</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">About Aurion</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Work For Us</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Partners</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                
                <div class="col-span-2 col-start-1 py-6 last:py-2 lg:py-0 lg:col-start-5 lg:col-span-1 md:col-span-1 md:row-span-2 lg:space-y-6 lg:place-content-start lg:w-8/12 lg:justify-content">
                    <h2 class="mb-2.5 text-lg leading-[30px] font-semibold text-[#272727]">Join our mailing list</h2>
                    <p class="font-normal leading-[21px] text-base text-[#474747] mb-4">News and insights - delivered to your inbox</p>
                    
                    {# Mailing List Form #}
                    {% macro errorList(errors) %}
                        {% if errors %}
                        {{ ul(errors, {class: 'errors'}) }}
                        {% endif %}
                    {% endmacro %}

                    {% set message = message ?? null %}

                    {# Add `enctype="multipart/form-data"` to `<form>` if you’re uploading files. #}
                    <form method="post" action="" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        {{ actionInput('contact-form/send') }}
                        {{ redirectInput('contact/thanks') }}

                        <input class="mb-3 border-2 border-solid rounded-full border-formoutline h-[50px] w-[335px] md:w-[645px] lg:w-[286px] md:flex px-4 py-2 placeholder:text-pgrey-400 text-base leading-[34px]" type="text" placeholder="Name"/>


                            {# {{ input('text', 'fromName', message.fromName ?? '', {
                                id: 'from-name',
                                autocomplete: 'name',
                            }) }}
                            {{ message ? _self.errorList(message.getErrors('fromName')) }} #}
                        {# </input> #}
                        
                        <input class="mb-4 border-2 border-solid rounded-full border-formoutline h-[50px] w-[335px] md:w-[645px] lg:w-[286px] md:flex px-4 py-2 text-base leading-[34px]" type="text" placeholder="Email Address"/>


                            {# {{ input('email', 'fromEmail', message.fromEmail ?? '', {
                                id: 'from-email',
                                autocomplete: 'email',
                            }) }}
                            {{ message ? _self.errorList(message.getErrors('fromEmail')) }} #}
                        {# </div> #}

                        
                        <button type="submit" class=" text-white text-lg bg-primaryorange-400 hover:bg-primaryorange-600 font-bold leading-[30px]text-lg py-2 mb-4 text-center rounded-[35px] w-[335px] lg:w-[286px] h-[50px] md:w-[645px] md:flex md:justify-center md:align-middle px-4">Sign Up</button>
                    </form>
                    <p class="font-normal leading-5 text-pgrey-400 text-[13px]">By submitting your email address, you agree to receive updates accordance with our <a class="font-bold underline text-primaryblack-950" href="#">Privacy Policy</a></p>
                </div>   
                <div class="col-span-2 col-start-0 md:col-span-4">         
                        <div class="flex flex-col md:flex-row md:items-center lg:items-end">
                            {# Aurelion Logo #}
                            <div class="justify-start mt-10 mb-4 md:w-3/12 lg:ml-4 "> 
                                <a href="{{ siteUrl }}" class="ml-0">
                                    <?xml version="1.0" encoding="UTF-8"?>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-current" id="logo-footer" width="138" height="58.05" viewBox="0 0 138 58.05" fill="none">
                                    <path d="M6.17188 39.9945H7.39903V51.2261H12.1994V52.4141H6.17188V39.9945ZM18.9848 39.9945H26.1312V41.2185H20.212V45.1063H26.059V46.3303H20.212V51.2261H26.059V52.4501H18.9848V39.9945ZM38.114 39.9945L43.925 52.4141H42.5895L40.6405 48.3102H35.2627L33.3137 52.4141H31.9061L37.7892 39.9945H38.114ZM37.9696 42.6584L35.8402 47.1583H40.0991L37.9696 42.6584ZM50.7104 39.9945H53.2008C54.5723 39.9945 55.5107 40.0665 56.016 40.1745C56.774 40.3545 57.3515 40.7145 57.8207 41.2545C58.2899 41.7945 58.5065 42.4784 58.5065 43.3064C58.5065 43.9904 58.3621 44.5664 58.0373 45.1063C57.7124 45.6103 57.2793 46.0063 56.6657 46.2583C56.0882 46.5103 55.2581 46.6543 54.2114 46.6543L58.6869 52.4141H57.1349L52.6594 46.6543H51.9376V52.4141H50.7104V39.9945ZM51.9376 41.2185V45.4303H54.067C54.8972 45.4303 55.5107 45.3583 55.9078 45.1783C56.3048 45.0343 56.6296 44.7823 56.8462 44.4224C57.0627 44.0624 57.171 43.7024 57.171 43.2704C57.171 42.8384 57.0627 42.4784 56.8462 42.1185C56.6296 41.7945 56.3409 41.5425 55.9439 41.3985C55.5829 41.2545 54.9694 41.1825 54.1031 41.1825L51.9376 41.2185ZM65.9416 52.4501V40.0305H66.2303L74.5317 49.5702V40.0305H75.7588V52.4501H75.4701L67.2409 43.0184V52.4501H65.9416ZM83.3744 39.9945H84.6376V52.4141H83.3744V39.9945ZM92.2532 52.4501V40.0305H92.5059L100.807 49.5702V40.0305H102.034V52.4501H101.782L93.5526 43.0184V52.4501H92.2532ZM121.885 42.1185L120.911 43.0184C120.225 42.3344 119.467 41.8305 118.637 41.4705C117.807 41.1105 117.013 40.9305 116.219 40.9305C115.244 40.9305 114.306 41.1825 113.44 41.6505C112.537 42.1184 111.888 42.7664 111.382 43.5944C110.913 44.4224 110.661 45.2863 110.661 46.1863C110.661 47.1223 110.913 48.0222 111.419 48.8502C111.924 49.6782 112.61 50.3621 113.512 50.8301C114.414 51.2981 115.389 51.5501 116.435 51.5501C117.735 51.5501 118.781 51.1901 119.684 50.4701C120.586 49.7502 121.091 48.8142 121.272 47.6622H117.302V46.4743H122.679C122.679 48.3822 122.102 49.9302 120.983 51.0461C119.864 52.1621 118.348 52.738 116.435 52.738C114.125 52.738 112.321 51.9461 110.949 50.3981C109.903 49.2102 109.397 47.8062 109.397 46.2223C109.397 45.0343 109.686 43.9544 110.3 42.9464C110.877 41.9385 111.707 41.1465 112.754 40.5705C113.801 39.9945 114.956 39.7065 116.255 39.7065C117.302 39.7065 118.312 39.8865 119.251 40.2825C120.081 40.6425 120.983 41.2545 121.885 42.1185Z" fill="#9C9EA1" stroke="#999999" stroke-width="0.5"></path>
                                    <path d="M18.6961 9.79163H24.6875V33.5507H18.6961V31.0308C17.5411 32.1468 16.35 32.9387 15.1951 33.4067C14.0401 33.9107 12.7408 34.1267 11.3692 34.1267C8.30135 34.1267 5.63048 32.9387 3.39272 30.5628C1.11888 28.2229 0 25.271 0 21.7072C0 18.0353 1.08278 15.0474 3.24835 12.6715C5.41392 10.3316 8.0487 9.14365 11.1527 9.14365C12.5964 9.14365 13.9318 9.39564 15.1951 9.93562C16.4583 10.4756 17.6133 11.2676 18.66 12.3475V9.79163H18.6961ZM12.4159 14.6874C10.5752 14.6874 9.0232 15.3354 7.79605 16.6314C6.56889 17.9273 5.95531 19.6193 5.95531 21.6352C5.95531 23.6871 6.56889 25.379 7.83214 26.711C9.0593 28.0429 10.6113 28.6909 12.4159 28.6909C14.2928 28.6909 15.8447 28.0429 17.0719 26.747C18.2991 25.451 18.9126 23.7231 18.9126 21.6352C18.9126 19.5833 18.2991 17.8913 17.0719 16.5954C15.8447 15.3354 14.2928 14.6874 12.4159 14.6874ZM27.214 9.79163H33.2776V21.2392C33.2776 23.4711 33.4219 25.019 33.7468 25.883C34.0355 26.747 34.5408 27.431 35.2266 27.8989C35.9123 28.3669 36.7425 28.6189 37.7531 28.6189C38.7637 28.6189 39.5938 28.3669 40.2796 27.8989C40.9653 27.431 41.5067 26.747 41.8316 25.811C42.0842 25.127 42.1925 23.6511 42.1925 21.4192V9.79163H48.1839V19.8712C48.1839 24.0111 47.8591 26.855 47.2094 28.4029C46.4154 30.2748 45.2243 31.7148 43.6723 32.6868C42.1203 33.6947 40.1352 34.1987 37.717 34.1987C35.1183 34.1987 32.9888 33.6227 31.3647 32.4708C29.7405 31.3188 28.6216 29.6629 27.9719 27.6109C27.5027 26.171 27.2862 23.5431 27.2862 19.7272V9.79163H27.214ZM50.7465 9.79163H55.8717V12.7795C56.4131 11.5916 57.171 10.6916 58.0733 10.0796C58.9757 9.46764 59.9863 9.14365 61.1051 9.14365C61.8631 9.14365 62.6932 9.35964 63.5234 9.75563L61.6465 14.9034C60.9608 14.5434 60.3833 14.3635 59.9141 14.3635C58.9757 14.3635 58.2177 14.9394 57.568 16.0554C56.9184 17.2073 56.6296 19.4033 56.6296 22.7511L56.6657 23.9031V33.5147H50.7465V9.79163ZM69.1538 0C70.2005 0 71.1028 0.395985 71.8608 1.15196C72.6187 1.90793 72.9797 2.84389 72.9797 3.88785C72.9797 4.96781 72.6187 5.86778 71.8608 6.62375C71.1028 7.37972 70.2366 7.73971 69.1899 7.73971C68.1432 7.73971 67.2048 7.34372 66.483 6.58775C65.725 5.83178 65.3641 4.89581 65.3641 3.81585C65.3641 2.77189 65.725 1.87193 66.483 1.11596C67.2048 0.359986 68.0711 0 69.1538 0ZM66.1581 9.79163H72.1495V33.5507H66.1581V9.79163Z" fill="#272727"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M118.385 5.54478C113.332 1.98092 107.268 0.216983 100.194 0.252981C93.1196 0.324979 87.056 2.12491 82.0752 5.68877C77.0944 9.21664 74.5679 13.4645 74.5679 18.4323C74.5679 19.3255 74.6439 20.1959 74.7961 21.0434C74.9355 17.5968 76.303 14.6983 78.8988 12.3478C81.2809 10.1879 84.06 9.10792 87.164 9.10792C89.4379 9.10792 91.5312 9.6839 93.5164 10.7999C95.5015 11.9158 97.0534 13.4638 98.1362 15.3717C99.2551 17.2796 99.7965 19.3675 99.7965 21.5994C99.7965 23.8674 99.2551 25.9553 98.1362 27.8992C97.0174 29.8431 95.4654 31.3911 93.5524 32.471C91.6034 33.587 89.474 34.127 87.164 34.127C86.9277 34.127 86.6936 34.121 86.4618 34.1092C90.5789 36.0461 95.2692 37.0076 100.519 37.0076C107.219 37.0076 113.018 35.3422 117.915 32.0435V23.0754C117.915 20.2315 117.699 18.3596 117.446 17.4236C117.157 16.4876 116.652 15.8037 116.002 15.2997C115.389 14.8317 114.631 14.5797 113.692 14.5797C112.465 14.5797 111.491 15.0117 110.624 15.8037C109.758 16.5956 109.253 17.7116 108.928 19.1515C108.803 19.6763 108.817 20.5999 108.837 21.9465C108.846 22.5399 108.856 23.2155 108.856 23.9754V33.911H102.792V9.7919H108.856V12.1678C109.866 11.0158 111.31 10.2239 112.393 9.7919C113.476 9.32391 114.45 9.10792 115.605 9.10792C117.951 9.10792 120.045 9.93589 121.705 11.5918C123.076 12.9958 123.943 15.0477 123.979 17.7836V25.952C125.328 23.7181 126 21.2852 126 18.6483C126 13.5005 123.438 9.10864 118.385 5.54478ZM87.2723 28.5832C89.113 28.5832 90.7011 27.9352 91.9283 26.6393C93.1554 25.3433 93.8051 23.6514 93.8051 21.5994C93.8051 19.5475 93.1915 17.8916 91.9644 16.6316C90.7372 15.3717 89.1852 14.7237 87.2723 14.7237C85.3955 14.7237 83.8435 15.3717 82.6163 16.6676C81.3892 17.9636 80.7756 19.6195 80.7756 21.6354C80.7756 23.7234 81.3892 25.3793 82.6163 26.6753C83.8435 27.9352 85.3955 28.5832 87.2723 28.5832Z" fill="#F26839"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="flex mt-2 md:ml-2 md:justify-center md:w-4/12 lg:w-3/12">
                                {# Facebook Icon #}
                                <a href="https://facebook.com/AurionLearning" class="w-10 h-10 ">
                                    <svg viewBox="20 10 40 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Facebook" filter="url(#filter0_d_0_67)">
                                        <circle id="Oval" cx="40" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <path id="Facebook_2" fill-rule="evenodd" clip-rule="evenodd" d="M41.353 41.2052H37.7154V33.4561H35.8975V30.4699H37.7154V28.6786C37.7154 26.2442 38.7417 24.7949 41.6578 24.7949H44.0853V27.7811H42.5686C41.4331 27.7811 41.3575 28.1979 41.3575 28.9768L41.353 30.4699H44.1026L43.7805 33.4561H41.353V41.2052Z" fill="#333333"/>
                                        </g>
                                        <defs>
                                        <filter id="filter0_d_0_67" x="-5" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                        <feOffset dy="12"/>
                                        <feGaussianBlur stdDeviation="12"/>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_67"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_67" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                                    <span class="sr-only">Facebook page</span>
                                </a>
                                {# X Icon#}
                                <a href="https://twitter.com/aurionlearning" class="w-10 h=10 ml-2">
                                    <svg viewBox="20 10 40 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_d_0_67)">
                                        <circle cx="40" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <path
                                            id="Vector"
                                            d="m 41.363556,31.991896 6.3286,-6.100853 h -1.4996 l -5.49519,5.297283 -4.38896,-5.297283 h -5.06215 l 6.63697,8.010433 -6.63697,6.39769 h 1.49977 l 5.80302,-5.59413 4.63511,5.59413 h 5.0621 l -6.8831,-8.30727 z m -2.05413,1.98015 -0.67246,-0.79766 -5.35055,-6.34705 h 2.30355 l 4.31796,5.12227 0.67246,0.79766 5.61287,6.6582 h -2.3036 l -4.58023,-5.43311 z"
                                            fill="#272727" /></g></g></g>
                                    </svg>
                                    <span class="sr-only">X Social Icon</span>
                                </a>

                                {# You Tube Icon #}
                                <a href="https://www.youtube.com/user/aurionlearning" class="w-10 h=10 ml-2">
                                    <svg viewBox="26 11 40 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_d_0_59)">
                                        <circle cx="45.7778" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M54.0856 26.8989C54.6267 27.519 54.8177 28.9222 54.8177 28.9222C54.8177 28.9222 55.0087 30.5866 55.0087 32.2509V33.7847C55.0087 35.4164 54.8177 37.0808 54.8177 37.0808C54.8177 37.0808 54.6267 38.484 54.0856 39.1041C53.4196 39.8489 52.6673 39.9149 52.2941 39.9477C52.2748 39.9494 52.2566 39.951 52.2394 39.9526C49.6612 40.181 45.7779 40.181 45.7779 40.181C45.7779 40.181 40.9715 40.1484 39.5073 39.9852C39.4295 39.9668 39.3337 39.953 39.2248 39.9374C38.7543 39.8696 38.0388 39.7666 37.4702 39.1041C36.9291 38.4841 36.7381 37.0808 36.7381 37.0808C36.7381 37.0808 36.5471 35.4491 36.5471 33.7848V32.2509C36.5471 30.5866 36.7381 28.9222 36.7381 28.9222C36.7381 28.9222 36.8972 27.519 37.4702 26.8989C38.1362 26.1541 38.8885 26.0881 39.2617 26.0553C39.281 26.0536 39.2992 26.052 39.3164 26.0504C41.8946 25.8547 45.7779 25.822 45.7779 25.822C45.7779 25.822 49.6612 25.8547 52.2394 26.0504C52.266 26.0529 52.2952 26.0552 52.3266 26.0577C52.7098 26.0878 53.4385 26.145 54.0856 26.8989ZM43.5498 36.7858V29.7042L49.5975 33.3266L43.5498 36.7858Z" fill="#333333"/>
                                        </g>
                                        <defs>
                                        <filter id="filter0_d_0_59" x="0.777832" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                        <feOffset dy="12"/>
                                        <feGaussianBlur stdDeviation="12"/>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_59"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_59" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                                    <span class="sr-only">You Tube Social Icon</span>
                                </a>

                                {# LinkedIn Icon #}
                                <a href="https://www.linkedin.com/company/aurion-learning" class="w-10 h=10 ml-2">
                                    <svg viewBox="25 10 41 43" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g id="Linkedin" filter="url(#filter0_d_0_52)">
                                            <circle id="Oval" cx="45.6665" cy="33" r="20" stroke="#F2EAE0" stroke-width="2" />
                                            <path id="Linkedin_2" fill-rule="evenodd" clip-rule="evenodd" d="M41.6979 30.0779H38.7198V39.669H41.6979V30.0779ZM41.9414 27.0393C41.9414 26.0857 41.1665 25.3096 40.2144 25.3096C39.2567 25.3096 38.4873 26.0857 38.4873 27.0393C38.4873 27.9929 39.2567 28.769 40.2144 28.769C41.1665 28.769 41.9414 27.9929 41.9414 27.0393ZM46.4194 30.0773H43.5742V39.6685H46.5468V34.9228C46.5468 33.6754 46.7792 32.4613 48.3292 32.4613C49.857 32.4613 49.8736 33.8916 49.8736 35.006V39.6685H52.8461V34.4127C52.8461 31.8292 52.287 29.8445 49.2757 29.8445C47.8254 29.8445 46.8567 30.6373 46.4582 31.3913H46.4194V30.0773Z" fill="#333333" />
                                        </g>
                                        <defs>
                                            <filter id="filter0_d_0_52" x="0.666504" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                            <feOffset dy="12" />
                                            <feGaussianBlur stdDeviation="12" />
                                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0" />
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_52" />
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_52" result="shape" />
                                            </filter>
                                        </defs>
                                    </svg>
                                    <span class="sr-only">LinkedIn Social Icon</span>
                                </a>
                                {# Slide Share Icon#}
                                <a href="https://www.slideshare.net/aurionlearning" class="w-10 h=10 ml-2">
                                    <svg viewBox="25 10 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Slide Share" filter="url(#filter0_d_0_42)">
                                        <circle id="Oval" cx="45.6665" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <g id="icon">
                                        <mask id="mask0_0_42" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="37" y="24" width="18" height="18">
                                        <g id="SVGID_00000120555745645305838000000005071327724616362373_">
                                        <path id="Vector" d="M54.9307 24.0068H37V42H54.9307V24.0068Z" fill="white"/>
                                        </g>
                                        </mask>
                                        <g mask="url(#mask0_0_42)">
                                        <g id="Group">
                                        <path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd" d="M39.6864 24.0068H52.3691C52.8064 24.0068 53.1813 24.1943 53.4312 24.4442C53.7436 24.7566 53.8685 25.1314 53.8685 25.5687V33.5657H53.2438V25.5687C53.2438 25.3188 53.1188 25.1314 52.9939 24.944C52.8689 24.7566 52.619 24.6941 52.3691 24.6941H39.6864C39.5615 24.6941 39.4365 24.6941 39.374 24.7566C39.3116 24.819 39.1241 24.819 39.0617 24.944C38.9367 25.0065 38.8742 25.1314 38.8118 25.1939C38.8118 25.3188 38.7493 25.4438 38.7493 25.5687V33.5657H38.1245V25.5687C38.1245 25.3813 38.187 25.1314 38.2495 24.944C38.3119 24.7566 38.4369 24.5691 38.6243 24.4442C38.7493 24.3192 38.8742 24.1943 39.0617 24.1318C39.3116 24.0068 39.499 24.0068 39.6864 24.0068Z" fill="#333333"/>
                                        <path id="Vector_3" d="M48.6205 33.4408C48.8704 33.4408 49.1828 33.3784 49.4327 33.3159C49.6826 33.1909 49.9325 33.066 50.1199 32.8786C50.3074 32.6911 50.4948 32.4412 50.6197 32.1913C50.7447 31.9414 50.8072 31.6915 50.8072 31.3791C50.8072 30.8168 50.5573 30.317 50.1199 29.9422C49.6826 29.5673 49.1828 29.3799 48.6205 29.3799C48.0582 29.3799 47.4959 29.5673 47.1211 29.9422C46.6837 30.317 46.4963 30.8793 46.4338 31.4416C46.4338 32.0039 46.6837 32.5037 47.1211 32.8786C47.5584 33.2534 48.0582 33.4408 48.6205 33.4408Z" fill="#333333"/>
                                        <path id="Vector_4" d="M54.181 32.5035C52.2443 33.878 49.9327 34.5028 47.5586 34.2529C46.8713 34.2529 46.1841 34.1904 46.1841 35.2525V35.3774C47.2462 36.0647 48.1833 36.0647 48.933 34.8776C49.4328 34.1279 50.0576 34.3778 49.6828 35.3774C49.4953 35.9397 49.1205 36.377 48.6207 36.7519C48.1208 37.0643 47.5586 37.2517 46.9963 37.2517C46.7464 37.2517 46.434 37.1892 46.1841 37.1892C46.1841 38.3138 46.1841 39.5633 46.1841 40.1881C46.1841 40.438 46.1841 40.6879 46.309 40.9378C46.3715 41.1877 46.5589 41.3752 46.7464 41.5626C46.9338 41.75 47.1212 41.875 47.3711 41.9999C47.621 42.0624 47.8709 42.1249 48.1208 42.1249C50.245 42.1249 51.3696 40.1881 51.3696 38.0639C51.3696 37.2517 51.2447 36.502 50.9948 35.7523C52.4317 35.2525 53.7437 34.3778 54.8058 33.1908C55.1182 32.6285 54.7433 32.1287 54.181 32.5035Z" fill="#333333"/>
                                        <path id="Vector_5" fill-rule="evenodd" clip-rule="evenodd" d="M45.7467 31.3164C45.7467 31.6288 45.6843 31.8787 45.5593 32.1286C45.4344 32.3785 45.3094 32.6284 45.0595 32.8158C44.8721 33.0032 44.6222 33.1282 44.3723 33.2531C44.1224 33.3781 43.81 33.3781 43.5601 33.3781C43.3102 33.3781 42.9978 33.3156 42.7479 33.2531C42.498 33.1282 42.2481 33.0032 42.0606 32.8158C41.8732 32.6284 41.6858 32.3785 41.5608 32.1286C41.4359 31.8787 41.3734 31.6288 41.3734 31.3164C41.3734 30.8166 41.6233 30.2543 41.9982 29.8794C42.4355 29.5046 42.9353 29.3171 43.4976 29.3171C44.0599 29.3171 44.6222 29.5046 44.997 29.8794C45.4344 30.2543 45.6843 30.7541 45.7467 31.3164ZM44.1848 34.2528C41.8732 34.4402 39.5616 33.8154 37.6873 32.5034C37.125 32.1286 36.7502 32.6284 37.125 33.1282C38.1246 34.3152 39.4366 35.1899 40.8736 35.6897C39.6241 40.0006 41.9357 41.9998 43.7475 41.9998C43.9974 41.9998 44.2473 41.9998 44.4972 41.8749C44.7471 41.8124 44.9345 41.625 45.122 41.4375C45.3094 41.2501 45.4344 41.0627 45.5593 40.8128C45.6218 40.5629 45.6843 40.313 45.6843 40.0631C45.6843 38.7511 45.6843 36.6269 45.6843 36.6269C46.1216 36.7518 46.5589 36.8143 46.9963 36.8768C47.5586 36.9392 48.1208 36.8143 48.6206 36.5019C49.1205 36.1895 49.4953 35.7522 49.7452 35.2524C50.1201 34.3777 49.4953 34.1278 48.9955 34.8151C48.0584 36.1271 46.8088 35.8771 45.5593 34.6276C45.2469 34.2528 45.0595 34.1903 44.1848 34.2528Z" fill="#333333"/>
                                        </g>
                                        </g>
                                        </g>
                                        </g>
                                        <defs>
                                        <filter id="filter0_d_0_42" x="0.666504" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                        <feOffset dy="12"/>
                                        <feGaussianBlur stdDeviation="12"/>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_42"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_42" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                                    <span class="sr-only">Slide Share Social Icon</span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
                
            <div class="w-11/12 mx-auto my-6 border border-gray-200 lg:my-8"></div>
            
            <div class="flex flex-col flex-wrap items-start pl-4 mb-8 md:flex-row md:justify-start">
                <span class="font-normal text-pgrey-700 text-sm leading-[34px] mb-2 lg:ml-6"><a href="#">© 2023 Aurion Learning</a>
                </span>
                <span class="hidden md:block md:align-bottom md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2 "><a href="#">Terms & Conditions</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2 "><a href="#">Privacy Policy</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2"><a href="#">ESG & CSR at Aurion</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2"><a href="#">Accessibility</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px]"><a href="#">Manage Cookies</a>
                </span>
            </div>
        </div>
    </footer>