<footer>
        <div class="container mx-auto mt-10 md:px-3 md:ml-10 xl:px-30 lg:mx-0">
            <div class="grid grid-cols-2 gap-2 mx-5 md:mx-10 lg:grid-cols-6 xl:pt-10 lg:pl-11 lg:pt-6">
                    <div class="col-span-1 col-start-1 lg:row-span-1 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">What We Do</h2>
                        <ul class="font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class=" hover:underline">Learning Content</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Learning Platforms</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Learning Consultancy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-1 col-start-2 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">Industries</h2>
                        <ul class="font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Healthcare</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Public Sector</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Commercial</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Charity</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-1 col-start-1 lg:col-start-3 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">Use Cases</h2>
                        <ul class="font-sans font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Health &amp; Wellbeing</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Digital Transformation</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Sustainability</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Product Training</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Companies &amp; Policy</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Diversity &amp; Inclusion</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-1 col-start-2 lg:col-start-4 justify-items-center">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">Explore</h2>
                        <ul class="font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Case Studies</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Resources</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">About Aurion</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Work For Us</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Partners</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                
                <div class="col-span-2 col-start-1 py-6 lg:col-span-2 last:py-2 lg:py-0 lg:col-start-5 md:row-span-2 lg:place-content-start lg:w-7/12">
                    <h2 class="mb-2.5 text-lg leading-[30px] font-semibold text-[#272727]">Join our mailing list</h2>
                    <p class="font-normal leading-[21px] text-base text-[#474747] mb-4">News and insights - delivered to your inbox</p>
                    
                    {# Mailing List Form #}
                    {% macro errorList(errors) %}
                        {% if errors %}
                        {{ ul(errors, {class: 'errors'}) }}
                        {% endif %}
                    {% endmacro %}

                    {% set message = message ?? null %}

                    {# Add `enctype="multipart/form-data"` to `<form>` if you’re uploading files. #}
                    <form method="post" action="" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        {{ actionInput('contact-form/send') }}
                        {{ redirectInput('contact/thanks') }}

                        <input class="mb-3 border-2 border-solid rounded-full border-formoutline h-[50px] w-[335px] md:w-[645px] lg:w-[286px] md:flex px-4 py-2 placeholder:text-pgrey-400 text-base leading-[34px]" type="text" placeholder="Name"/>


                            {# {{ input('text', 'fromName', message.fromName ?? '', {
                                id: 'from-name',
                                autocomplete: 'name',
                            }) }}
                            {{ message ? _self.errorList(message.getErrors('fromName')) }} #}
                        {# </input> #}
                        
                        <input class="mb-4 border-2 border-solid rounded-full border-formoutline h-[50px] w-[335px] md:w-[645px] lg:w-[286px] md:flex px-4 py-2 text-base leading-[34px]" type="text" placeholder="Email Address"/>


                            {# {{ input('email', 'fromEmail', message.fromEmail ?? '', {
                                id: 'from-email',
                                autocomplete: 'email',
                            }) }}
                            {{ message ? _self.errorList(message.getErrors('fromEmail')) }} #}
                        {# </div> #}

                        
                        <button type="submit" class=" text-white text-lg bg-primaryorange-400 hover:bg-primaryorange-600 font-bold leading-[30px]text-lg py-2 mb-4 text-center rounded-[35px] w-[335px] lg:w-[286px] h-[50px] md:w-[645px] md:flex md:justify-center md:align-middle px-4">Sign Up</button>
                    </form>
                    <p class="font-normal leading-5 text-pgrey-400 text-[13px]">By submitting your email address, you agree to receive updates accordance with our <a class="font-bold underline text-primaryblack-950" href="#">Privacy Policy</a></p>
                </div>   
                <div class="col-span-2 col-start-0 md:col-span-4">         
                        <div class="flex flex-col md:flex-row md:items-center">
                            {# Aurelion Logo #}
                            <div class="justify-start mt-10 mb-4 md:w-3/12 lg:ml-4 "> 
                                <a href="{{ siteUrl }}" class="ml-0">
                                    <img src="{{ siteUrl }}static/images/logocomp.svg" alt="aurion learning logo">
                                </a>
                            </div>
                            <div class="flex mt-2 md:ml-2 md:justify-center md:w-4/12 lg:w-3/12">
                                {# Facebook Icon #}
                                <a href="https://facebook.com/AurionLearning" class="w-10 h-10 ">
                                    <img src="{{ siteUrl }}static/images/Facebookcomp.svg" alt="Facebook social icon">
                                    <span class="sr-only">Facebook page</span>
                                </a>
                                {# X Icon #}
                                <a href="https://twitter.com/aurionlearning" class="w-10 h=10 ml-2">
                                    <svg viewBox="20 10 40 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_d_0_67)">
                                        <circle cx="40" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <path
                                            id="Vector"
                                            d="m 41.363556,31.991896 6.3286,-6.100853 h -1.4996 l -5.49519,5.297283 -4.38896,-5.297283 h -5.06215 l 6.63697,8.010433 -6.63697,6.39769 h 1.49977 l 5.80302,-5.59413 4.63511,5.59413 h 5.0621 l -6.8831,-8.30727 z m -2.05413,1.98015 -0.67246,-0.79766 -5.35055,-6.34705 h 2.30355 l 4.31796,5.12227 0.67246,0.79766 5.61287,6.6582 h -2.3036 l -4.58023,-5.43311 z"
                                            fill="#272727" /></g></g></g>
                                    </svg>
                                    <span class="sr-only">X Social Icon</span>
                                </a>

                                {# You Tube Icon #}
                                <a href="https://www.youtube.com/user/aurionlearning" class="w-10 h=10 ml-2">
                                    <img src="{{ siteUrl }}static/images/youtubecomp.svg" alt="you tube social icon">
                                    <span class="sr-only">You Tube Social Icon</span>
                                </a>

                                {# LinkedIn Icon #}
                                <a href="https://www.linkedin.com/company/aurion-learning" class="w-10 h=10 ml-2">
                                     <img src="{{ siteUrl }}static/images/linkedincomp.svg" alt="linkedin social icon">
                                    <span class="sr-only">LinkedIn Social Icon</span>
                                </a>
                                {# Slide Share Icon#}
                                <a href="https://www.slideshare.net/aurionlearning" class="w-10 h=10 ml-2">
                                    <img src="{{ siteUrl }}static/images/slidesharecomp.svg" alt="slide share social icon">
                                    <span class="sr-only">Slide Share Social Icon</span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
                
            <div class="w-11/12 mx-auto my-6 border border-gray-200 lg:my-8 xl:mx-0"></div>
            
            <div class="flex flex-col flex-wrap items-start pl-4 mb-8 md:flex-row md:justify-start">
                <span class="font-normal text-pgrey-700 text-sm leading-[34px] mb-2 lg:ml-6"><a href="#">© 2023 Aurion Learning</a>
                </span>
                <span class="hidden md:block md:align-bottom md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2 "><a href="#">Terms & Conditions</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2 "><a href="#">Privacy Policy</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2"><a href="#">ESG & CSR at Aurion</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2"><a href="#">Accessibility</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px]"><a href="#">Manage Cookies</a>
                </span>
            </div>
        </div>
    </footer>