<footer>
        <div class="container mx-auto mt-10 md:px-3 md:ml-10 xl:px-30 lg:mx-0">
            <div class="grid grid-cols-2 gap-2 mx-5 md:mx-10 lg:grid-cols-6 xl:pt-10 lg:pl-11 lg:pt-6">
                    <div class="col-span-1 col-start-1 lg:row-span-1 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">What We Do</h2>
                        <ul class="font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class=" hover:underline">Learning Content</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Learning Platforms</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Learning Consultancy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-1 col-start-2 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">Industries</h2>
                        <ul class="font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Healthcare</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Public Sector</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Commercial</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Charity</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-1 col-start-1 lg:col-start-3 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">Use Cases</h2>
                        <ul class="font-sans font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Health &amp; Wellbeing</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Digital Transformation</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Sustainability</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Product Training</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Companies &amp; Policy</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Diversity &amp; Inclusion</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-1 col-start-2 lg:col-start-4 justify-items-center">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">Explore</h2>
                        <ul class="font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Case Studies</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Resources</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">About Aurion</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Work For Us</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Partners</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                
                <div class="col-span-2 col-start-1 py-6 lg:col-span-2 last:py-2 lg:py-0 lg:col-start-5 md:row-span-2 lg:place-content-start lg:w-7/12">
                    <h2 class="mb-2.5 text-lg leading-[30px] font-semibold text-[#272727]">Join our mailing list</h2>
                    <p class="font-normal leading-[21px] text-base text-[#474747] mb-4">News and insights - delivered to your inbox</p>
                    
                    {# Mailing List Form #}
                    {% macro errorList(errors) %}
                        {% if errors %}
                        {{ ul(errors, {class: 'errors'}) }}
                        {% endif %}
                    {% endmacro %}

                    {% set message = message ?? null %}

                    {# Add `enctype="multipart/form-data"` to `<form>` if you’re uploading files. #}
                    <form method="post" action="" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        {{ actionInput('contact-form/send') }}
                        {{ redirectInput('contact/thanks') }}

                        <input class="mb-3 border-2 border-solid rounded-full border-formoutline h-[50px] w-[335px] md:w-[645px] lg:w-[286px] md:flex px-4 py-2 placeholder:text-pgrey-400 text-base leading-[34px]" type="text" placeholder="Name"/>


                            {# {{ input('text', 'fromName', message.fromName ?? '', {
                                id: 'from-name',
                                autocomplete: 'name',
                            }) }}
                            {{ message ? _self.errorList(message.getErrors('fromName')) }} #}
                        {# </input> #}
                        
                        <input class="mb-4 border-2 border-solid rounded-full border-formoutline h-[50px] w-[335px] md:w-[645px] lg:w-[286px] md:flex px-4 py-2 text-base leading-[34px]" type="text" placeholder="Email Address"/>


                            {# {{ input('email', 'fromEmail', message.fromEmail ?? '', {
                                id: 'from-email',
                                autocomplete: 'email',
                            }) }}
                            {{ message ? _self.errorList(message.getErrors('fromEmail')) }} #}
                        {# </div> #}

                        
                        <button type="submit" class=" text-white text-lg bg-primaryorange-400 hover:bg-primaryorange-600 font-bold leading-[30px]text-lg py-2 mb-4 text-center rounded-[35px] w-[335px] lg:w-[286px] h-[50px] md:w-[645px] md:flex md:justify-center md:align-middle px-4">Sign Up</button>
                    </form>
                    <p class="font-normal leading-5 text-pgrey-400 text-[13px]">By submitting your email address, you agree to receive updates accordance with our <a class="font-bold underline text-primaryblack-950" href="#">Privacy Policy</a></p>
                </div>   
                <div class="col-span-2 col-start-0 md:col-span-4">         
                        <div class="flex flex-col md:flex-row md:items-center">
                            {# Aurelion Logo #}
                            <div class="justify-start mt-10 mb-4 md:w-3/12 lg:ml-4 "> 
                                <a href="{{ siteUrl }}" class="ml-0">
                                    <img src="{{ siteUrl }}static/images/logocomp.svg" alt="aurion learning logo">
                                </a>
                            </div>
                            <div class="flex mt-2 md:ml-2 md:justify-center md:w-4/12 lg:w-3/12">
                                {# Facebook Icon #}
                                <a href="https://facebook.com/AurionLearning" class="w-10 h-10 ">
                                    <svg viewBox="20 10 40 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Facebook" filter="url(#filter0_d_0_67)">
                                        <circle id="Oval" cx="40" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <path id="Facebook_2" fill-rule="evenodd" clip-rule="evenodd" d="M41.353 41.2052H37.7154V33.4561H35.8975V30.4699H37.7154V28.6786C37.7154 26.2442 38.7417 24.7949 41.6578 24.7949H44.0853V27.7811H42.5686C41.4331 27.7811 41.3575 28.1979 41.3575 28.9768L41.353 30.4699H44.1026L43.7805 33.4561H41.353V41.2052Z" fill="#333333"/>
                                        </g>
                                        <defs>
                                        <filter id="filter0_d_0_67" x="-5" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                        <feOffset dy="12"/>
                                        <feGaussianBlur stdDeviation="12"/>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_67"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_67" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                                    <span class="sr-only">Facebook page</span>
                                </a>
                                {# X Icon#}
                                <a href="https://twitter.com/aurionlearning" class="w-10 h=10 ml-2">
                                    <svg viewBox="20 10 40 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_d_0_67)">
                                        <circle cx="40" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <path
                                            id="Vector"
                                            d="m 41.363556,31.991896 6.3286,-6.100853 h -1.4996 l -5.49519,5.297283 -4.38896,-5.297283 h -5.06215 l 6.63697,8.010433 -6.63697,6.39769 h 1.49977 l 5.80302,-5.59413 4.63511,5.59413 h 5.0621 l -6.8831,-8.30727 z m -2.05413,1.98015 -0.67246,-0.79766 -5.35055,-6.34705 h 2.30355 l 4.31796,5.12227 0.67246,0.79766 5.61287,6.6582 h -2.3036 l -4.58023,-5.43311 z"
                                            fill="#272727" /></g></g></g>
                                    </svg>
                                    <span class="sr-only">X Social Icon</span>
                                </a>

                                {# You Tube Icon #}
                                <a href="https://www.youtube.com/user/aurionlearning" class="w-10 h=10 ml-2">
                                    <svg viewBox="26 11 40 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_d_0_59)">
                                        <circle cx="45.7778" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M54.0856 26.8989C54.6267 27.519 54.8177 28.9222 54.8177 28.9222C54.8177 28.9222 55.0087 30.5866 55.0087 32.2509V33.7847C55.0087 35.4164 54.8177 37.0808 54.8177 37.0808C54.8177 37.0808 54.6267 38.484 54.0856 39.1041C53.4196 39.8489 52.6673 39.9149 52.2941 39.9477C52.2748 39.9494 52.2566 39.951 52.2394 39.9526C49.6612 40.181 45.7779 40.181 45.7779 40.181C45.7779 40.181 40.9715 40.1484 39.5073 39.9852C39.4295 39.9668 39.3337 39.953 39.2248 39.9374C38.7543 39.8696 38.0388 39.7666 37.4702 39.1041C36.9291 38.4841 36.7381 37.0808 36.7381 37.0808C36.7381 37.0808 36.5471 35.4491 36.5471 33.7848V32.2509C36.5471 30.5866 36.7381 28.9222 36.7381 28.9222C36.7381 28.9222 36.8972 27.519 37.4702 26.8989C38.1362 26.1541 38.8885 26.0881 39.2617 26.0553C39.281 26.0536 39.2992 26.052 39.3164 26.0504C41.8946 25.8547 45.7779 25.822 45.7779 25.822C45.7779 25.822 49.6612 25.8547 52.2394 26.0504C52.266 26.0529 52.2952 26.0552 52.3266 26.0577C52.7098 26.0878 53.4385 26.145 54.0856 26.8989ZM43.5498 36.7858V29.7042L49.5975 33.3266L43.5498 36.7858Z" fill="#333333"/>
                                        </g>
                                        <defs>
                                        <filter id="filter0_d_0_59" x="0.777832" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                        <feOffset dy="12"/>
                                        <feGaussianBlur stdDeviation="12"/>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_59"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_59" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                                    <span class="sr-only">You Tube Social Icon</span>
                                </a>

                                {# LinkedIn Icon #}
                                <a href="https://www.linkedin.com/company/aurion-learning" class="w-10 h=10 ml-2">
                                    <svg viewBox="25 10 41 43" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g id="Linkedin" filter="url(#filter0_d_0_52)">
                                            <circle id="Oval" cx="45.6665" cy="33" r="20" stroke="#F2EAE0" stroke-width="2" />
                                            <path id="Linkedin_2" fill-rule="evenodd" clip-rule="evenodd" d="M41.6979 30.0779H38.7198V39.669H41.6979V30.0779ZM41.9414 27.0393C41.9414 26.0857 41.1665 25.3096 40.2144 25.3096C39.2567 25.3096 38.4873 26.0857 38.4873 27.0393C38.4873 27.9929 39.2567 28.769 40.2144 28.769C41.1665 28.769 41.9414 27.9929 41.9414 27.0393ZM46.4194 30.0773H43.5742V39.6685H46.5468V34.9228C46.5468 33.6754 46.7792 32.4613 48.3292 32.4613C49.857 32.4613 49.8736 33.8916 49.8736 35.006V39.6685H52.8461V34.4127C52.8461 31.8292 52.287 29.8445 49.2757 29.8445C47.8254 29.8445 46.8567 30.6373 46.4582 31.3913H46.4194V30.0773Z" fill="#333333" />
                                        </g>
                                        <defs>
                                            <filter id="filter0_d_0_52" x="0.666504" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                            <feOffset dy="12" />
                                            <feGaussianBlur stdDeviation="12" />
                                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0" />
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_52" />
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_52" result="shape" />
                                            </filter>
                                        </defs>
                                    </svg>
                                    <span class="sr-only">LinkedIn Social Icon</span>
                                </a>
                                {# Slide Share Icon#}
                                <a href="https://www.slideshare.net/aurionlearning" class="w-10 h=10 ml-2">
                                    <svg viewBox="25 10 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Slide Share" filter="url(#filter0_d_0_42)">
                                        <circle id="Oval" cx="45.6665" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <g id="icon">
                                        <mask id="mask0_0_42" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="37" y="24" width="18" height="18">
                                        <g id="SVGID_00000120555745645305838000000005071327724616362373_">
                                        <path id="Vector" d="M54.9307 24.0068H37V42H54.9307V24.0068Z" fill="white"/>
                                        </g>
                                        </mask>
                                        <g mask="url(#mask0_0_42)">
                                        <g id="Group">
                                        <path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd" d="M39.6864 24.0068H52.3691C52.8064 24.0068 53.1813 24.1943 53.4312 24.4442C53.7436 24.7566 53.8685 25.1314 53.8685 25.5687V33.5657H53.2438V25.5687C53.2438 25.3188 53.1188 25.1314 52.9939 24.944C52.8689 24.7566 52.619 24.6941 52.3691 24.6941H39.6864C39.5615 24.6941 39.4365 24.6941 39.374 24.7566C39.3116 24.819 39.1241 24.819 39.0617 24.944C38.9367 25.0065 38.8742 25.1314 38.8118 25.1939C38.8118 25.3188 38.7493 25.4438 38.7493 25.5687V33.5657H38.1245V25.5687C38.1245 25.3813 38.187 25.1314 38.2495 24.944C38.3119 24.7566 38.4369 24.5691 38.6243 24.4442C38.7493 24.3192 38.8742 24.1943 39.0617 24.1318C39.3116 24.0068 39.499 24.0068 39.6864 24.0068Z" fill="#333333"/>
                                        <path id="Vector_3" d="M48.6205 33.4408C48.8704 33.4408 49.1828 33.3784 49.4327 33.3159C49.6826 33.1909 49.9325 33.066 50.1199 32.8786C50.3074 32.6911 50.4948 32.4412 50.6197 32.1913C50.7447 31.9414 50.8072 31.6915 50.8072 31.3791C50.8072 30.8168 50.5573 30.317 50.1199 29.9422C49.6826 29.5673 49.1828 29.3799 48.6205 29.3799C48.0582 29.3799 47.4959 29.5673 47.1211 29.9422C46.6837 30.317 46.4963 30.8793 46.4338 31.4416C46.4338 32.0039 46.6837 32.5037 47.1211 32.8786C47.5584 33.2534 48.0582 33.4408 48.6205 33.4408Z" fill="#333333"/>
                                        <path id="Vector_4" d="M54.181 32.5035C52.2443 33.878 49.9327 34.5028 47.5586 34.2529C46.8713 34.2529 46.1841 34.1904 46.1841 35.2525V35.3774C47.2462 36.0647 48.1833 36.0647 48.933 34.8776C49.4328 34.1279 50.0576 34.3778 49.6828 35.3774C49.4953 35.9397 49.1205 36.377 48.6207 36.7519C48.1208 37.0643 47.5586 37.2517 46.9963 37.2517C46.7464 37.2517 46.434 37.1892 46.1841 37.1892C46.1841 38.3138 46.1841 39.5633 46.1841 40.1881C46.1841 40.438 46.1841 40.6879 46.309 40.9378C46.3715 41.1877 46.5589 41.3752 46.7464 41.5626C46.9338 41.75 47.1212 41.875 47.3711 41.9999C47.621 42.0624 47.8709 42.1249 48.1208 42.1249C50.245 42.1249 51.3696 40.1881 51.3696 38.0639C51.3696 37.2517 51.2447 36.502 50.9948 35.7523C52.4317 35.2525 53.7437 34.3778 54.8058 33.1908C55.1182 32.6285 54.7433 32.1287 54.181 32.5035Z" fill="#333333"/>
                                        <path id="Vector_5" fill-rule="evenodd" clip-rule="evenodd" d="M45.7467 31.3164C45.7467 31.6288 45.6843 31.8787 45.5593 32.1286C45.4344 32.3785 45.3094 32.6284 45.0595 32.8158C44.8721 33.0032 44.6222 33.1282 44.3723 33.2531C44.1224 33.3781 43.81 33.3781 43.5601 33.3781C43.3102 33.3781 42.9978 33.3156 42.7479 33.2531C42.498 33.1282 42.2481 33.0032 42.0606 32.8158C41.8732 32.6284 41.6858 32.3785 41.5608 32.1286C41.4359 31.8787 41.3734 31.6288 41.3734 31.3164C41.3734 30.8166 41.6233 30.2543 41.9982 29.8794C42.4355 29.5046 42.9353 29.3171 43.4976 29.3171C44.0599 29.3171 44.6222 29.5046 44.997 29.8794C45.4344 30.2543 45.6843 30.7541 45.7467 31.3164ZM44.1848 34.2528C41.8732 34.4402 39.5616 33.8154 37.6873 32.5034C37.125 32.1286 36.7502 32.6284 37.125 33.1282C38.1246 34.3152 39.4366 35.1899 40.8736 35.6897C39.6241 40.0006 41.9357 41.9998 43.7475 41.9998C43.9974 41.9998 44.2473 41.9998 44.4972 41.8749C44.7471 41.8124 44.9345 41.625 45.122 41.4375C45.3094 41.2501 45.4344 41.0627 45.5593 40.8128C45.6218 40.5629 45.6843 40.313 45.6843 40.0631C45.6843 38.7511 45.6843 36.6269 45.6843 36.6269C46.1216 36.7518 46.5589 36.8143 46.9963 36.8768C47.5586 36.9392 48.1208 36.8143 48.6206 36.5019C49.1205 36.1895 49.4953 35.7522 49.7452 35.2524C50.1201 34.3777 49.4953 34.1278 48.9955 34.8151C48.0584 36.1271 46.8088 35.8771 45.5593 34.6276C45.2469 34.2528 45.0595 34.1903 44.1848 34.2528Z" fill="#333333"/>
                                        </g>
                                        </g>
                                        </g>
                                        </g>
                                        <defs>
                                        <filter id="filter0_d_0_42" x="0.666504" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                        <feOffset dy="12"/>
                                        <feGaussianBlur stdDeviation="12"/>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_42"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_42" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                                    <span class="sr-only">Slide Share Social Icon</span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
                
            <div class="w-11/12 mx-auto my-6 border border-gray-200 lg:my-8 xl:mx-0"></div>
            
            <div class="flex flex-col flex-wrap items-start pl-4 mb-8 md:flex-row md:justify-start">
                <span class="font-normal text-pgrey-700 text-sm leading-[34px] mb-2 lg:ml-6"><a href="#">© 2023 Aurion Learning</a>
                </span>
                <span class="hidden md:block md:align-bottom md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2 "><a href="#">Terms & Conditions</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2 "><a href="#">Privacy Policy</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2"><a href="#">ESG & CSR at Aurion</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2"><a href="#">Accessibility</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px]"><a href="#">Manage Cookies</a>
                </span>
            </div>
        </div>
    </footer>