<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Aurion Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 

    {# <link rel="stylesheet" href="{{ siteUrl }}static/css/styles.css">    #}
    <link rel="stylesheet" href="{{ siteUrl }}static/css/stylesheet.css">
    
</head>
<body>
    <header class="relative md:py-3 md:w-full">
        <nav class="z-20 flex items-center justify-between px-4 py-3 mt-4 lg:flex-row">
                {# Logo Images #}
                <a class="mr-6 lg:hidden" href="{{ siteUrl }}">
                    <img src="{{ siteUrl }}static/images/LogoMobile.svg">
                </a>
                <a class="hidden mr-6 md:hidden lg:block" href="{{ siteUrl }}">
                    <img src="{{ siteUrl }}static/images/lgnavLogo.svg">
                </a>
                {#Mobile Hamburger #} 
                <div class="absolute items-center block right-6 lg:hidden">
                    <button aria-label="Open Menu" title="Open Menu">
                        <svg class="fill-current text-primaryorange-400 hover:text-primaryorange-600" xmlns="http://www.w3.org/2000/svg" width="24" height="15" viewBox="0 0 24 15" fill="none">
                        <g id="Menu Icon">
                            <line id="Line 3" y1="1" x2="24" y2="1" stroke="#F26839" stroke-width="2"></line>
                            <line id="Line 4" y1="7" x2="24" y2="7" stroke="#F26839" stroke-width="2"></line>
                            <line id="Line 5" y1="14" x2="24" y2="14" stroke="#F26839" stroke-width="2"></line>
                        </g>
                        </svg>
                    </button>
                </div>
                {# Nav Links#}
                <div class="justify-between flex-grow hidden w-full lg:flex lg:flex-row lg:items-center lg:w-auto">
                    <ul class="mt-4 lg:mb-4 lg:ml-8 lg:flex-grow font-medium align-top  lg:font-bold lg:text-[18px] lg:leading-[25.41px] xl:leading-[24.51px]">
                        {% for link in navigation.navLinks.all() %}
                        {% set destination = link.linkDestination.one() %}
                        {% set dropdown = link.dropdownToggle %}
                        {% if dropdown.contains('dropdownYes') %}
                        
                        <li class="inline-block mr-[85px] ">
                            <a href="{{ destination.url}}" aria-label={{ link.linkText }} title={{ link.linkText }} class="relative text-sm font-bold after:content-arrowDownIcon after:inline-block after:mr-4 hover:text-primaryorange-400"> {{ link.linkText }}</a>   
                        </li>
                        {% else %}
                        <li class="inline-block mr-[85px] ">
                            <a href="{{ destination.url}}" aria-label={{ link.linkText }} title={{ link.linkText }} class="z-10 inline-block text-sm font-bold hover:text-primaryorange-400"> {{ link.linkText }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {# CTA Button #}
                <div class="absolute items-center hidden lg:flex lg:right-6">    
                    <a href="#" type="button" class="text-white text-sm bg-primaryorange-400 hover:bg-primaryorange-600 align-text-top font-bold leading-[30px] px-3 py-1 lg:py-[10px] lg:px-[28px] text-center rounded-[35px] hidden lg:block">Request a Demo</a>
                </div>
        </nav>
    </header>

    {# HERO SECTION #}
    <section class="Hero">
        <div class="container relative justify-center mx-auto md:flex md:mb-8 md:mt-8 xl:mb-[180px] xl:-ml-[5px] lg:justify-evenly">
            {# Content Section - Hero #}
            <div class="p-4 md:w-6/12 lg:w-5/12 xl:w-4/12 lg:mt-24 xl:mt-[200px] xl:mr-[700px]">
                <h1 class="mb-4 text-[45px] font-bold leading-[55px] lg:text-[90px] lg:leading-[100px] xl:text-[96px] xl:leading-[108px] ">Learning <br>that <span class="font-bold text-primaryorange-400">works</span></h1>
                <p class="text-pgrey-400 mb-8 text-base font-normal leading-[28px] lg:text-[22px] lg:leading-[36px] md:w-10/12 lg:w-11/12 lg:font-normal">We deliver engaging learning experiences that work for your goals and learners</p>
                <div class="flex items-center">
                    {#  Button - Hero #}
                    <button type="button" class="text-white bg-primaryorange-400 hover:bg-primaryorange-600 font-bold text-center text-[17px] px-5 mr-3 rounded-[35px] w-[152px] h-[52px]">What We Do</button>

                    <a href="#" class="flex items-center py-1 group">   
                        <svg class=" group-hover:text-primaryorange-600" width="28" height="29" viewBox="0 0 28 29" fill="none" 
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.4719" r="13" stroke="#F26839" stroke-width="2" fill="#F26839"/>
                            <path d="M12 18.8252L18.0674 14.9719L12 11.1186V18.8252Z" fill="#FFF" stroke="#FFF"/>
                            </svg>
                        <span class="px-2 text-[17px] font-bold text-primaryorange-400 group-hover:text-primaryorange-600">Watch Video</span>
                    </a>
                </div>
            </div>
             {# Image Section - Hero #}
            <div class="top-0 bottom-0 left-0 right-0 z-10 justify-center h-full align-center lg:flex lg:items-center md:flex">
                <img class="hidden sm:block md:hidden lg:hidden xl:hidden" <img src="{{ siteUrl }}static/images/smHero.svg">
                <img class="hidden md:block lg:hidden xl:hidden" <img src="{{ siteUrl }}static/images/mdHero.svg">
                <img class="hidden md:hidden lg:block xl:hidden" <img src="{{ siteUrl }}static/images/lgHero.svg">
                <img class="absolute xl:-top-[150px] xl:right-[1%] md:hidden sm:hidden lg:hidden xl:block xl:-z-10 pointer-events-none" <img src="{{ siteUrl }}static/images/xlHero.svg">
            </div>
        </div>
    </section>
    
    {# ICON GRID SECTION #}
    <section class="w-full md:mb-3 lg:mb-6 xl:mb-8">
        <div class="icon-block">
            <div class="container relative mx-auto md:mt-10 xl:mt-[100px] mb-3 text-sm font-bold leading-6 text-center text-primaryblack-950">Trusted by organisations globally</div>
        </div>
        <div class="flex justify-between">
            {% set logos = entry.logos %}
            {% set siteSettings = craft.globalSets.handle('sitesettings') %}
        
            {# Determine the number of logos based on breakpoints #}
            {% set mobileLogos = logos.limit(3) %}
            {# Output logos for each breakpoint #}
            {% for logo in mobileLogos %}
            <div class="w-1/3 p-4 ml-4 md:hidden">
                {# Output SVG from Asset field #}
                <img src="{{ logo.getUrl() }}" alt="{{ logo.title }}"  class="w-full h-auto">
            </div>
            {% endfor %}
            
            {# Add similar loops for md, lg, and xl breakpoints #}

            {# md Logos loop #}
            {% set mdLogos = logos.limit(7) %}
            {% for mdlogo in mdLogos %}
            <div class="p-4 w-1/7 sm:hidden md:block lg:hidden xl:hidden">
                {# Output SVG from Asset field #}
                <img src="{{ mdlogo.getUrl() }}" alt="{{ mdlogo.title }}" class="w-full h-auto">
            </div>
            {% endfor %}

            {# lg Logos loop #}
            {% set lgLogos = logos.limit(8) %}
            {% for lglogo in lgLogos %}
            <div class="p-8 w-1/8 sm:hidden md:hidden lg:block xl:hidden">
                {# Output SVG from Asset field #}
                <img src="{{ lglogo.getUrl() }}" alt="{{ lglogo.title }}" class="w-full h-auto">
            </div>
            {% endfor %}

            {# xl Logos loop #}
            {% set xlLogos = logos.limit(9) %}
            {% for xllogo in xlLogos %}
            <div class="p-12 w-1/9 sm:hidden md:hidden lg:hidden xl:block">
                {# Output SVG from Asset field #}
                <img src="{{ xllogo.getUrl() }}" alt="{{ xllogo.title }}" class="w-full h-auto">
            </div>
            {% endfor %}
        </div>
    </section>

    {# SOLUTIONS SECTION #}

    {% set entries = craft.entries().section('homePage').all() %}
    {% for entry in entries %}
        <section class="solutions">
            <div class="container flex-row items-center justify-center mx-auto">
                <div class="p-4 text-center lg:mb-10">
                    <h1 class="mb-4 md:mx-auto font-sans text-[28px] leading-[34px]
                    font-bold md:text-[36px] md:w-[550px] md:leading-[44px] lg:text-[48px] lg:leading-[60px] lg:w-[920px]">Learning solutions that <span class="font-bold text-primaryorange-400">deliver results</span></h1>
                    <p class="text-[#474747] plarge text-lg text-center w-11/12  md:mx-auto md:w-[540px] mb-4 lg:w-[500px] xl:w-[606px] font-normal">{{ entry.solutionsMainSubheading }} </p>
                </div>    
                {# Solutions Card Matrix #}
                {% set blocks = entry.solutionMatrix.all() %}
                {%  if blocks|length %}
                    {% for block in blocks %}
                        <div class="relative w-11/12 pb-6 mx-auto mb-6 rounded-[20px] xl:rounded-[40px] lg:mb-10 md:pb-8 lg:flex xl:w-[1490px] xl:mb-16" style="background-color: {{ block.solCardColor|lower }};">
                            {# Image Section - Solutions Card #}
                            {% set image = block.solimage.one() %}
                            {%  if image %}
                            <div class="max-h-[528px] py-6 mx-4 md:py-8 lg:flex lg:w-1/2 xl:pt-10 xl:py-0 {{ block.solImageFirst == 'yes' ? 'lg:order-first' : 'lg:order-last' }}">
                                <img class="object-contain h-auto mx-auto md:w-1/2 lg:h-full lg:w-full" src="{{image.getUrl()}}" alt="{{ image.title }}">
                            </div>
                            {%  endif %}
                            {# Content Section - Solutions Card #}
                            <div class="mx-4 text-left md:mx-32 md:mb-6 lg:py-20 lg:w-1/2 {{ block.solImageFirst == 'yes' ? 'lg:order-last' : 'lg:order-first' }}">
                                <h3 class="mb-2 font-bold"> {{ block.solcardtitle }}</h3>
                                <p class="font-normal text-left">{{ block.solcardsubheading }}</p>
                                {# Tickbox section #}
                                <div class="tickbox section">
                                    <div class="flex items-center py-1 mt-4 mb-1 md:w-9/12 group">   
                                        <img src="{{ siteUrl }}static/images/bulletpointicon.svg" alt="tick in circle icon">
                                        <p class="px-2 font-normal">{{ block.solBulletpointText1 }}</p>
                                    </div>
                                    <div class="flex items-center py-1 mt-1 spaces-y-1 md:w-9/12 group">   
                                        <img src="{{ siteUrl }}static/images/bulletpointicon.svg" alt="tick in circle icon">
                                        <p class="px-2 font-normal">{{ block.solBulletpointText2 }}</p>
                                    </div>
                                    <div class="flex items-center py-1 mt-1 mb-8 spaces-y-1 md:w-9/12 group">   
                                        <img src="{{ siteUrl }}static/images/bulletpointicon.svg" alt="tick in circle icon">
                                        <p class="px-2 font-normal">{{ block.solBulletpointText3 }}</p>
                                    </div>
                                </div>
                                {#  Buttons - Solutions Card #}
                                <div class="flex items-center">
                                    <button type="button" class="text-white bg-primaryorange-400 hover:bg-primaryorange-600 font-bold text-center text-[17px] px-5 py-3 rounded-[35px] mr-3">{{ block.solButtonText }}</button>
                                    <div class="inline-block">
                                        <a href="#" class="text-[17px] leading-[30px] font-bold text-primaryblack-950  hover:text-primaryorange-600 underline ">{{ block.solLinkText }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
    {% endfor %}
    
    {# EXPERTISE-TABS SECTION #}
    {% set entries = craft.entries().section('homePage').all() %}
    {% for entry in entries %}
        <section class="expertise-tabs">
            <div class="container py-10 mx-auto w-[336px] md:w-full xl:w-9/12 items-center justify-center text-center md:mb-32">
                <div class="p-4 text-center md:w-[535px] lg:w-[816px] mx-auto">
                    <h2 class="mb-4 font-bold text-center">Sector expertise that will <span class="font-bold text-primaryorange-400">drive results </span> for your organisation</h2>
                </div>
                <nav class="rounded-[10px] bg-tabBackground md:bg-transparent mb-4 md:mx-auto md:w-11/12 lg:w-full lg:justify-around xl:justify-center">
                    <ul class="flex flex-wrap mx-auto text-sm font-bold text-center lg:w-full lg:justify-around" data-tabs-toggle="#default-tab-content" role="tablist">
                        <li class="me-2 active-tab" role="presentation">
                            <button class=" bg-white hover:bg-white rounded-[10px] md:rounded-none md:bg-transparent p-2 md:p-4 mx-1 my-1 md:border-b-2 md:hover:border-b-primaryorange-400 md:active:border-primaryorange-400 md:focus:border-primaryorange-400 hover:text-primaryorange-400 text-[17px] leading-[23.15px] font-bold md:border-[#B1B1B1]/50 md:text-[22px] md:leading-[32px] lg:text-[24px] lg:leading-[68px] lg:w-[255px]" id="{{ entry.tabsPanel1Name|lower }}-tab" data-tabs-target="#{{  entry.tabsPanel1Name|lower  }}" type="button" role="tab" aria-controls="{{  entry.tabsPanel1Name|lower  }}" aria-selected="false">{{ entry.tabsPanel1Name }}</button>
                        </li>
                        <li class="me-2" role="presentation">
                            <button class=" md:rounded-none md:bg-transparent hover:bg-white p-2 m-1 md:p-4 md:border-b-2 md:active:border-primaryorange-400 md:focus:border-primaryorange-400 md:hover:border-primaryorange-400 hover:text-primaryorange-400 border-[#B1B1B1]/50 rounded-t-lg md:text-[22px] md:leading-[32px] lg:text-[24px] lg:leading-[68px] lg:w-[255px]" id="{{ entry.tabsPanel2Name|lower }}-tab" data-tabs-target="#{{ entry.tabsPanel2Name|lower }}" type="button" role="tab" aria-controls="{{ entry.tabsPanel2Name|lower }}" aria-selected="false">{{ entry.tabsPanel2Name }}</button>
                        </li>
                        <li class="me-2" role="presentation">
                            <button class=" md:rounded-none md:bg-transparent hover:bg-white rounded-[10px] p-2 m-1 md:p-4 md:border-b-2 md:active:border-primaryorange-400  md:hover:border-primaryorange-400 md:focus:border-primaryorange-400 hover:text-primaryorange-400  border-[#B1B1B1]/50 rounded-t-lg md:text-[22px] md:leading-[32px] lg:text-[24px] lg:leading-[68px] lg:w-[255px]" id="{{ entry.tabsPanel3Name|lower }}-tab" data-tabs-target="#{{ entry.tabsPanel3Name|lower }}" type="button" role="tab" aria-controls="{{ entry.tabsPanel3Name|lower }}" aria-selected="false">{{ entry.tabsPanel3Name }}</button>
                        </li>
                        <li role="presentation">
                            <button class=" md:rounded-none md:bg-transparent hover:bg-white rounded-[10px] p-2 m-1 md:p-4 md:border-b-2 md:active:border-primaryorange-400  md:focus:border-primaryorange-400 md:hover:border-primaryorange-400  hover:text-primaryorange-400 rounded-t-lg md:text-[22px] md:leading-[32px] lg:text-[24px] lg:leading-[68px] lg:w-[255px]" id="{{ entry.tabsPanel4Name|lower }}-tab" data-tabs-target="#{{ entry.tabsPanel4Name|lower }}" type="button" role="tab" aria-controls="{{ entry.tabsPanel4Name|lower }}" aria-selected="false">{{ entry.tabsPanel4Name }}</button>
                        </li>
                    </ul>
                </nav>
                <div id="default-tab-content" class="flex flex-col panels">
                    <article class="p-4 text-left active-panel lg:flex" id="{{  entry.tabsPanel1Name|lower  }}-tab" role="tabpanel" aria-labelledby="{{  entry.tabsPanel1Name|lower  }}-tab">
                        <div class="text-left md:mx-20 md:mb-6 lg:py-6 lg:order-first lg:flex-1">
                            <h5 class="mb-1.5 md:mb-2"> {{ entry.tabsPanel1Title }}</h5>
                            <p class="font-normal text-left plarge">{{ entry.tabsPanel1Subheading }}</p>
                            {# Tickbox section - Tab Panel 1 #}
                            <div class="tickbox section">
                                <div class="flex items-center py-1 mt-4 mb-1 group">   
                                    <img src="{{ siteUrl }}static/images/bulletpointicon.svg" alt="tick in circle icon">
                                    <p class="px-2 font-normal ">{{ entry.tabsPanel1BulletpointText1 }}</p>
                                </div>
                                <div class="flex items-center py-1 mt-1 spaces-y-1 group">   
                                    <img src="{{ siteUrl }}static/images/bulletpointicon.svg" alt="tick in circle icon">
                                    <p class="px-2 font-normal">{{ entry.tabsPanel1BulletpointText2 }}</p>
                                </div>
                                <div class="flex items-center py-1 mt-1 mb-8 spaces-y-1 md:w-9/12 group">   
                                   <img src="{{ siteUrl }}static/images/bulletpointicon.svg" alt="tick in circle icon">
                                    <p class="px-2 font-normal">{{ entry.tabsPanel1BulletpointText3 }}</p>
                                </div>
                            </div>
                            {#  Buttons - Tab Panel 1 #}
                            <div class="flex items-center justify-start md:mt-6 md:mb-8">
                                <button type="button" class="text-white bg-primaryorange-400 hover:bg-primaryorange-600 font-bold text-center text-[17px] px-5 mr-3 rounded-[35px] w-[152px] h-[52px]">Learn More</button>
                                <div class="inline-block">
                                    <a href="#" class="text-[17px] leading-[30px] text-left font-bold text-primaryorange-400  hover:text-primaryorange-600 underline">All Case Studies</a>
                                </div>
                            </div>
                        </div>
                        {# Image - Tab Panel 1 #}
                        <figure class="relative lg:flex lg:flex-1 lg:w-1/2">
                            <img class="relative hidden object-contain mx-auto rounded-t-lg lg:py-6 md:block" src="{{ siteUrl }}static/images/healthcare.png" alt="Image depicting Healthcare where a nurse smiles at an elderly patient">
                            
                            <img class="mt-6 rounded-t-lg md:hidden lg:hidden xl:hidden" src="{{ siteUrl }}static/images/healthcareMobile.svg" alt="A person wearing surgical gloves washes them in a sink">
                            {# Quotebox - Tab Panel 1 #}
                            <figcaption class="w-full">
                                <blockquote class="relative p-4 bg-[#F9F4EE] text-[20px] md:absolute md:bottom-0 md:right-0 md:p-4 md:rounded-tl-[20px] md:rounded-br-[40px] md:translate-y-[50%] md:-translate-x-[38.5px] lg:-translate-x-[0px] text-left text-gray-900 lg:right-0 xl:-translate-x-[0%]">
                                    {# Quotes SVG #}
                                    <svg class="absolute top-0 left-8 -translate-x-[10px]  translate-y-[40px] md:translate-x-[10px] md:translate-y-[43px]" width="30" height="30" viewBox="0 0 25 25" fill="none" 
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.9622 8.54796V14.6864H0.671143V9.84026C0.671143 7.2165 1.01883 5.31721 1.71422 4.14239C2.62691 2.57596 4.07201 1.39135 6.0495 0.588562L7.48373 2.6445C6.28854 3.09484 5.40845 3.77036 4.84345 4.67106C4.27845 5.55217 3.96335 6.84447 3.89816 8.54796H6.9622ZM17.067 8.54796V14.6864H10.7759V9.84026C10.7759 7.2165 11.1236 5.31721 11.819 4.14239C12.7317 2.57596 14.1768 1.39135 16.1543 0.588562L17.5885 2.6445C16.3933 3.09484 15.5132 3.77036 14.9482 4.67106C14.3832 5.55217 14.0682 6.84447 14.003 8.54796H17.067Z" fill="#F26839"/>
                                    </svg>

                                    <span class="w-[280.81px] inline-block text-left font-medium text-[20px] md:w-[370px] leading-[26.79px] md:leading-[34px] ml-[34.28px] md:ml-[60px] lg:text-[26px] lg:leading-[38px] pr-[29.91px] md:font-semibold text-xl mt-5 md:mb-4 md:flex">Lorem ipsum dolor sit amet consectet sum dolor sit amet consectetur, adipiscing elit.</span>
                                    <footer class="mt-2 text-sm md:ml-[60px]">
                                        <div class=" md:block hidden w-[124px] mb-1 md:w-[165px]">
                                            <strong class="md:block hidden font-bold text-primaryblack-950 text-base leading-[22px]">John Smith</strong>
                                            <span class="hidden md:block font-normal text-pgrey-400 text-sm leading-[22px]">Head of Training, NHS</span>
                                        </div>
                                        <div class="block p-2 ml-6 md:hidden lg:hidden xl:hidden">
                                            <strong class="text-left font-bold text-primaryblack-950 text-base leading-[22px]">Paul McGurk</strong>
                                            <span class="flex font-normal text-pgrey-400 text-sm leading-[22px] text-left">Head of Training, NHS</span></p>
                                        </div>
                                    </footer>
                                </blockquote>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="hidden p-4 rounded-lg bg-gray-50 md:mx-auto" id="publicSector" role="tabpanel" aria-labelledby="dashboard-tab">
                        <h5 class="md:font-bold md:w-10/12 text-primaryblack-950 md:text-[24px] md:leading-[34px] md:mx-auto">Panel 2 - Public Sector</h5>
                        <p class="text-sm text-gray-500 md:mx-auto">This is some placeholder content the <strong class="font-medium text-gray-800">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                    </article>
                    <article class="hidden p-4 rounded-lg bg-gray-50" id="commercial" role="tabpanel" aria-labelledby="settings-tab">
                        <h5 class="md:font-bold md:w-10/12 text-primaryblack-950 md:text-[24px] md:leading-[34px] md:mx-auto">Panel 3 - Commercial</h5>
                        <p class="text-sm text-gray-500 md:mx-auto">This is some placeholder content the <strong class="font-medium text-gray-800">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                    </article>
                    <article class="hidden p-4 rounded-lg bg-gray-50" id="charity" role="tabpanel" aria-labelledby="contacts-tab">
                        <h5 class="md:font-bold md:w-10/12 text-primaryblack-950 md:text-[24px] md:leading-[34px] md:mx-auto">Panel 4 - Charity</h5>
                        <p class="text-sm text-gray-500">This is some placeholder content the <strong class="font-medium text-gray-800">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                    </article>
            </div>
        </section>
    {% endfor %}
    {# WHY AURION #}
    <section class="why_aurion">
        <div class="container px-5 pb-10 mx-auto mt-2 text-center lg:w-8/12">
            <div class="lg:mb-6">
                <h2>Why Aurion Learning?</h2>
                <p class="mx-auto mt-4 font-normal md:w-8/12 md:text-center">With decades of learning, technical and creative experience, we will work with you to deliver the best learning experience that works for your learners.</p> 
            </div>
            <div class="grid grid-cols-3 grid-rows-3 gap-2 mb-4 lg:mx-auto lg:grid-cols-3 lg:grid-rows-3 lg:justify-self-center lg:align-self-center lg:justify-center lg:align-center ">
                <div class="grid place-items-center lg:order-1">
                    <img src="{{ siteUrl }}static/images/quillcomp.svg" alt="quill on a page icon">
                </div>
                <div class="col-span-2 col-start-2 lg:w-[300px] lg:col-span-1 lg:row-span-2 lg:order-4 ">
                    <p class="mt-6 font-bold text-left plarge lg:text-center">Sector Knowledge</p>
                    <p class="mt-2 font-normal text-left md:w-11/12 lg:text-center lg:mb-6">We work with a wide range of organisations across the public, private and charity sectors.</p> 
                </div>
                
                <div class="grid place-items-center lg:order-2">
                    <img src="{{ siteUrl }}static/images/marketplacecomp.svg" alt="global marketplace icon">
                </div>

                <div class="col-span-2 lg:order-5 lg:w-[300px] lg:col-span-1 lg:row-span-2">
                    <p class="mt-6 font-bold text-left plarge lg:text-center">Established in Marketplace</p>
                    <p class="mt-2 font-normal text-left md:w-11/12 lg:text-center">Over 20 years of experience delivering high-quality learning solutions that work.</p> 
                </div>

                <div class="grid place-items-center lg:order-3">
                    <img src="{{ siteUrl }}static/images/trackcomp.svg" alt="a track with an arrow icon">
                </div>
                    <div class="col-span-2 lg:order-6 lg:w-[300px] lg:col-span-1 lg:row-span-2">
                        <p class="mt-6 font-bold text-left plarge lg:text-center">Proven Track Record</p>
                        <p class="mt-2 text-left lg:text-center">Award-winning expertise in recognition of our quality, creativity and impact.</p> 
                    </div>
            </div>
        </div>
    </section>
    
    {#  CTA SECTION #}
    <section class="cta">
        <div class="container overflow-hidden relative sm:h-[334px] lg:h-[401.11px] xl:h-[470px] w-full px-5 py-10 mx-auto text-center text-primarywhite bg-primaryorange-400">
            <div class="absolute -top-[83px] xl:left-[234px] lg:left-[44px] hidden svgcontainer w-[262px] h-[262px] lg:block">
                <img src="{{ siteUrl }}static/images/ctaslicedcirclecomp.svg" alt="partial circle sliced in sections">
            </div>
            <div class="absolute right-[47.02px] top-[148.96px] hidden lg:block xl:hidden triangle-circles">
                <img src="{{ siteUrl }}static/images/ctacirclesintrianglecomp.svg" alt="circles in a triangle">
            </div>
            <div class="absolute top-[196.85px] right-[158.56px] hidden xl:block triangle-circles">
                <img src="{{ siteUrl }}static/images/ctaxlcirclesintrianglecomp.svg" alt="circles in a triangle">
            </div>
        
            <h2 class="font-bold text-[28px] leading-[34px] w-[335px] md:text-[48px] md:leading-[54px] lg:mt-[34.5px] lg:text-[48px] lg:leading-[54px] xl:text-[54px] xl:leading-[58px] lg:mb-8 px-11 mb-4 md:mx-auto md:w-11/12 lg:w-6/12 xl:w-5/12">Talk to our eLearning experts today</h2>
            <p class="mt-4 mb-8 text-base font-normal lg:mb-10">Contact us to discuss your learning challenges and find solutions.</p> 
            <div class="flex justify-center pt-4 mb-3 gap-x-2.5">
                <a href="#" type="button" class="text-primarywhite text-sm bg-transparent border-2 hover:bg-primaryorange-500 font-bold leading-[30px] px-3 py-1  lg:px-6 text-center rounded-[35px] align-baseline select-none">Contact Us</a>
                <a href="#" type="button" class="text-primarywhite text-sm bg-primaryblack-950 hover:text-primaryblack-100 font-bold leading-[30px] px-3 py-1 md:px-[26px] text-center rounded-[35px] align-baseline select-none">Request a Demo</a>
            </div>
        </div>
    </section>
    
    
    {#  FOOTER SECTION #}
    <footer>
        <div class="container mt-10 md:px-3 xl:px-30 xl:pl-10 lg:mx-0 first-letter:mb-14 sm:mx-auto">
            <div class="grid grid-cols-2 gap-2 mx-5 lg:grid-cols-6 xl:pt-10 lg:pl-11 lg:pt-6">
                    <div class="col-span-1 col-start-1 lg:row-span-1 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">What We Do</h2>
                        <ul class="font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class=" hover:underline">Learning Content</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Learning Platforms</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Learning Consultancy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-1 col-start-2 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">Industries</h2>
                        <ul class="font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Healthcare</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Public Sector</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Commercial</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Charity</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-1 col-start-1 lg:col-start-3 lg:place-content-start">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">Use Cases</h2>
                        <ul class="font-sans font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Health &amp; Wellbeing</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Digital Transformation</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Sustainability</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Product Training</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Companies &amp; Policy</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Diversity &amp; Inclusion</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-1 col-start-2 lg:col-start-4 justify-items-center">
                        <h2 class="mb-4 text-lg leading-7 font-semibold text-[#272727]">Explore</h2>
                        <ul class="font-normal leading-[21px] text-base text-[#474747]">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Case Studies</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Resources</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">About Aurion</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Work For Us</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Partners</a>
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                
                <div class="col-span-2 col-start-1 py-6 lg:col-span-2 last:py-2 lg:py-0 lg:col-start-5 md:row-span-2 lg:place-content-start lg:w-7/12">
                    <h2 class="mb-2.5 text-lg leading-[30px] font-semibold text-[#272727]">Join our mailing list</h2>
                    <p class="font-normal leading-[21px] text-base text-[#474747] mb-4">News and insights - delivered to your inbox</p>
                    
                    {# Mailing List Form #}
                    {% macro errorList(errors) %}
                        {% if errors %}
                        {{ ul(errors, {class: 'errors'}) }}
                        {% endif %}
                    {% endmacro %}

                    {% set message = message ?? null %}

                    {# Add `enctype="multipart/form-data"` to `<form>` if you’re uploading files. #}
                    <form method="post" action="" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        {{ actionInput('contact-form/send') }}
                        {{ redirectInput('contact/thanks') }}

                        <input class="mb-3 border-2 border-solid rounded-full border-formoutline h-[50px] w-[335px] md:w-[645px] lg:w-[286px] md:flex px-4 py-2 placeholder:text-pgrey-400 text-base leading-[34px]" type="text" placeholder="Name"/>


                            {# {{ input('text', 'fromName', message.fromName ?? '', {
                                id: 'from-name',
                                autocomplete: 'name',
                            }) }}
                            {{ message ? _self.errorList(message.getErrors('fromName')) }} #}
                        {# </input> #}
                        
                        <input class="mb-4 border-2 border-solid rounded-full border-formoutline h-[50px] w-[335px] md:w-[645px] lg:w-[286px] md:flex px-4 py-2 text-base leading-[34px]" type="text" placeholder="Email Address"/>


                            {# {{ input('email', 'fromEmail', message.fromEmail ?? '', {
                                id: 'from-email',
                                autocomplete: 'email',
                            }) }}
                            {{ message ? _self.errorList(message.getErrors('fromEmail')) }} #}
                        {# </div> #}

                        
                        <button type="submit" class=" text-white text-lg bg-primaryorange-400 hover:bg-primaryorange-600 font-bold leading-[30px]text-lg py-2 mb-4 text-center rounded-[35px] w-[335px] lg:w-[286px] h-[50px] md:w-[645px] md:flex md:justify-center md:align-middle px-4">Sign Up</button>
                    </form>
                    <p class="font-normal leading-5 text-pgrey-400 text-[13px]">By submitting your email address, you agree to receive updates accordance with our <a class="font-bold underline text-primaryblack-950" href="#">Privacy Policy</a></p>
                </div>   
                <div class="col-span-2 col-start-0 md:col-span-4">         
                        <div class="flex flex-col md:flex-row md:items-center">
                            {# Aurelion Logo #}
                            <div class="justify-start mt-10 mb-4 md:w-3/12 lg:ml-4 "> 
                                <a href="{{ siteUrl }}" class="ml-0">
                                    <img src="{{ siteUrl }}static/images/logocomp.svg" alt="aurion learning logo">
                                </a>
                            </div>
                            <div class="flex mt-2 md:ml-2 md:justify-center md:w-4/12 lg:w-3/12">
                                {# Facebook Icon #}
                                <a href="https://facebook.com/AurionLearning" class="w-10 h-10 ">
                                    <svg viewBox="20 10 40 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Facebook" filter="url(#filter0_d_0_67)">
                                        <circle id="Oval" cx="40" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <path id="Facebook_2" fill-rule="evenodd" clip-rule="evenodd" d="M41.353 41.2052H37.7154V33.4561H35.8975V30.4699H37.7154V28.6786C37.7154 26.2442 38.7417 24.7949 41.6578 24.7949H44.0853V27.7811H42.5686C41.4331 27.7811 41.3575 28.1979 41.3575 28.9768L41.353 30.4699H44.1026L43.7805 33.4561H41.353V41.2052Z" fill="#333333"/>
                                        </g>
                                        <defs>
                                        <filter id="filter0_d_0_67" x="-5" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                        <feOffset dy="12"/>
                                        <feGaussianBlur stdDeviation="12"/>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_67"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_67" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                                    <span class="sr-only">Facebook page</span>
                                </a>
                                {# X Icon#}
                                <a href="https://twitter.com/aurionlearning" class="w-10 h=10 ml-2">
                                    <svg viewBox="20 10 40 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_d_0_67)">
                                        <circle cx="40" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <path
                                            id="Vector"
                                            d="m 41.363556,31.991896 6.3286,-6.100853 h -1.4996 l -5.49519,5.297283 -4.38896,-5.297283 h -5.06215 l 6.63697,8.010433 -6.63697,6.39769 h 1.49977 l 5.80302,-5.59413 4.63511,5.59413 h 5.0621 l -6.8831,-8.30727 z m -2.05413,1.98015 -0.67246,-0.79766 -5.35055,-6.34705 h 2.30355 l 4.31796,5.12227 0.67246,0.79766 5.61287,6.6582 h -2.3036 l -4.58023,-5.43311 z"
                                            fill="#272727" /></g></g></g>
                                    </svg>
                                    <span class="sr-only">X Social Icon</span>
                                </a>

                                {# You Tube Icon #}
                                <a href="https://www.youtube.com/user/aurionlearning" class="w-10 h=10 ml-2">
                                    <svg viewBox="26 11 40 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_d_0_59)">
                                        <circle cx="45.7778" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M54.0856 26.8989C54.6267 27.519 54.8177 28.9222 54.8177 28.9222C54.8177 28.9222 55.0087 30.5866 55.0087 32.2509V33.7847C55.0087 35.4164 54.8177 37.0808 54.8177 37.0808C54.8177 37.0808 54.6267 38.484 54.0856 39.1041C53.4196 39.8489 52.6673 39.9149 52.2941 39.9477C52.2748 39.9494 52.2566 39.951 52.2394 39.9526C49.6612 40.181 45.7779 40.181 45.7779 40.181C45.7779 40.181 40.9715 40.1484 39.5073 39.9852C39.4295 39.9668 39.3337 39.953 39.2248 39.9374C38.7543 39.8696 38.0388 39.7666 37.4702 39.1041C36.9291 38.4841 36.7381 37.0808 36.7381 37.0808C36.7381 37.0808 36.5471 35.4491 36.5471 33.7848V32.2509C36.5471 30.5866 36.7381 28.9222 36.7381 28.9222C36.7381 28.9222 36.8972 27.519 37.4702 26.8989C38.1362 26.1541 38.8885 26.0881 39.2617 26.0553C39.281 26.0536 39.2992 26.052 39.3164 26.0504C41.8946 25.8547 45.7779 25.822 45.7779 25.822C45.7779 25.822 49.6612 25.8547 52.2394 26.0504C52.266 26.0529 52.2952 26.0552 52.3266 26.0577C52.7098 26.0878 53.4385 26.145 54.0856 26.8989ZM43.5498 36.7858V29.7042L49.5975 33.3266L43.5498 36.7858Z" fill="#333333"/>
                                        </g>
                                        <defs>
                                        <filter id="filter0_d_0_59" x="0.777832" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                        <feOffset dy="12"/>
                                        <feGaussianBlur stdDeviation="12"/>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_59"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_59" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                                    <span class="sr-only">You Tube Social Icon</span>
                                </a>

                                {# LinkedIn Icon #}
                                <a href="https://www.linkedin.com/company/aurion-learning" class="w-10 h=10 ml-2">
                                    <svg viewBox="25 10 41 43" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g id="Linkedin" filter="url(#filter0_d_0_52)">
                                            <circle id="Oval" cx="45.6665" cy="33" r="20" stroke="#F2EAE0" stroke-width="2" />
                                            <path id="Linkedin_2" fill-rule="evenodd" clip-rule="evenodd" d="M41.6979 30.0779H38.7198V39.669H41.6979V30.0779ZM41.9414 27.0393C41.9414 26.0857 41.1665 25.3096 40.2144 25.3096C39.2567 25.3096 38.4873 26.0857 38.4873 27.0393C38.4873 27.9929 39.2567 28.769 40.2144 28.769C41.1665 28.769 41.9414 27.9929 41.9414 27.0393ZM46.4194 30.0773H43.5742V39.6685H46.5468V34.9228C46.5468 33.6754 46.7792 32.4613 48.3292 32.4613C49.857 32.4613 49.8736 33.8916 49.8736 35.006V39.6685H52.8461V34.4127C52.8461 31.8292 52.287 29.8445 49.2757 29.8445C47.8254 29.8445 46.8567 30.6373 46.4582 31.3913H46.4194V30.0773Z" fill="#333333" />
                                        </g>
                                        <defs>
                                            <filter id="filter0_d_0_52" x="0.666504" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                            <feOffset dy="12" />
                                            <feGaussianBlur stdDeviation="12" />
                                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0" />
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_52" />
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_52" result="shape" />
                                            </filter>
                                        </defs>
                                    </svg>
                                    <span class="sr-only">LinkedIn Social Icon</span>
                                </a>
                                {# Slide Share Icon#}
                                <a href="https://www.slideshare.net/aurionlearning" class="w-10 h=10 ml-2">
                                    <svg viewBox="25 10 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Slide Share" filter="url(#filter0_d_0_42)">
                                        <circle id="Oval" cx="45.6665" cy="33" r="20" stroke="#F2EAE0" stroke-width="2"/>
                                        <g id="icon">
                                        <mask id="mask0_0_42" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="37" y="24" width="18" height="18">
                                        <g id="SVGID_00000120555745645305838000000005071327724616362373_">
                                        <path id="Vector" d="M54.9307 24.0068H37V42H54.9307V24.0068Z" fill="white"/>
                                        </g>
                                        </mask>
                                        <g mask="url(#mask0_0_42)">
                                        <g id="Group">
                                        <path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd" d="M39.6864 24.0068H52.3691C52.8064 24.0068 53.1813 24.1943 53.4312 24.4442C53.7436 24.7566 53.8685 25.1314 53.8685 25.5687V33.5657H53.2438V25.5687C53.2438 25.3188 53.1188 25.1314 52.9939 24.944C52.8689 24.7566 52.619 24.6941 52.3691 24.6941H39.6864C39.5615 24.6941 39.4365 24.6941 39.374 24.7566C39.3116 24.819 39.1241 24.819 39.0617 24.944C38.9367 25.0065 38.8742 25.1314 38.8118 25.1939C38.8118 25.3188 38.7493 25.4438 38.7493 25.5687V33.5657H38.1245V25.5687C38.1245 25.3813 38.187 25.1314 38.2495 24.944C38.3119 24.7566 38.4369 24.5691 38.6243 24.4442C38.7493 24.3192 38.8742 24.1943 39.0617 24.1318C39.3116 24.0068 39.499 24.0068 39.6864 24.0068Z" fill="#333333"/>
                                        <path id="Vector_3" d="M48.6205 33.4408C48.8704 33.4408 49.1828 33.3784 49.4327 33.3159C49.6826 33.1909 49.9325 33.066 50.1199 32.8786C50.3074 32.6911 50.4948 32.4412 50.6197 32.1913C50.7447 31.9414 50.8072 31.6915 50.8072 31.3791C50.8072 30.8168 50.5573 30.317 50.1199 29.9422C49.6826 29.5673 49.1828 29.3799 48.6205 29.3799C48.0582 29.3799 47.4959 29.5673 47.1211 29.9422C46.6837 30.317 46.4963 30.8793 46.4338 31.4416C46.4338 32.0039 46.6837 32.5037 47.1211 32.8786C47.5584 33.2534 48.0582 33.4408 48.6205 33.4408Z" fill="#333333"/>
                                        <path id="Vector_4" d="M54.181 32.5035C52.2443 33.878 49.9327 34.5028 47.5586 34.2529C46.8713 34.2529 46.1841 34.1904 46.1841 35.2525V35.3774C47.2462 36.0647 48.1833 36.0647 48.933 34.8776C49.4328 34.1279 50.0576 34.3778 49.6828 35.3774C49.4953 35.9397 49.1205 36.377 48.6207 36.7519C48.1208 37.0643 47.5586 37.2517 46.9963 37.2517C46.7464 37.2517 46.434 37.1892 46.1841 37.1892C46.1841 38.3138 46.1841 39.5633 46.1841 40.1881C46.1841 40.438 46.1841 40.6879 46.309 40.9378C46.3715 41.1877 46.5589 41.3752 46.7464 41.5626C46.9338 41.75 47.1212 41.875 47.3711 41.9999C47.621 42.0624 47.8709 42.1249 48.1208 42.1249C50.245 42.1249 51.3696 40.1881 51.3696 38.0639C51.3696 37.2517 51.2447 36.502 50.9948 35.7523C52.4317 35.2525 53.7437 34.3778 54.8058 33.1908C55.1182 32.6285 54.7433 32.1287 54.181 32.5035Z" fill="#333333"/>
                                        <path id="Vector_5" fill-rule="evenodd" clip-rule="evenodd" d="M45.7467 31.3164C45.7467 31.6288 45.6843 31.8787 45.5593 32.1286C45.4344 32.3785 45.3094 32.6284 45.0595 32.8158C44.8721 33.0032 44.6222 33.1282 44.3723 33.2531C44.1224 33.3781 43.81 33.3781 43.5601 33.3781C43.3102 33.3781 42.9978 33.3156 42.7479 33.2531C42.498 33.1282 42.2481 33.0032 42.0606 32.8158C41.8732 32.6284 41.6858 32.3785 41.5608 32.1286C41.4359 31.8787 41.3734 31.6288 41.3734 31.3164C41.3734 30.8166 41.6233 30.2543 41.9982 29.8794C42.4355 29.5046 42.9353 29.3171 43.4976 29.3171C44.0599 29.3171 44.6222 29.5046 44.997 29.8794C45.4344 30.2543 45.6843 30.7541 45.7467 31.3164ZM44.1848 34.2528C41.8732 34.4402 39.5616 33.8154 37.6873 32.5034C37.125 32.1286 36.7502 32.6284 37.125 33.1282C38.1246 34.3152 39.4366 35.1899 40.8736 35.6897C39.6241 40.0006 41.9357 41.9998 43.7475 41.9998C43.9974 41.9998 44.2473 41.9998 44.4972 41.8749C44.7471 41.8124 44.9345 41.625 45.122 41.4375C45.3094 41.2501 45.4344 41.0627 45.5593 40.8128C45.6218 40.5629 45.6843 40.313 45.6843 40.0631C45.6843 38.7511 45.6843 36.6269 45.6843 36.6269C46.1216 36.7518 46.5589 36.8143 46.9963 36.8768C47.5586 36.9392 48.1208 36.8143 48.6206 36.5019C49.1205 36.1895 49.4953 35.7522 49.7452 35.2524C50.1201 34.3777 49.4953 34.1278 48.9955 34.8151C48.0584 36.1271 46.8088 35.8771 45.5593 34.6276C45.2469 34.2528 45.0595 34.1903 44.1848 34.2528Z" fill="#333333"/>
                                        </g>
                                        </g>
                                        </g>
                                        </g>
                                        <defs>
                                        <filter id="filter0_d_0_42" x="0.666504" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                        <feOffset dy="12"/>
                                        <feGaussianBlur stdDeviation="12"/>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_42"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_42" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                                    <span class="sr-only">Slide Share Social Icon</span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
                
            <div class="w-11/12 mx-auto my-6 border border-gray-200 lg:my-8 xl:mx-0"></div>
            
            <div class="flex flex-col flex-wrap items-start pl-4 mb-8 md:flex-row md:justify-start">
                <span class="font-normal text-pgrey-700 text-sm leading-[34px] mb-2 lg:ml-6"><a href="#">© 2023 Aurion Learning</a>
                </span>
                <span class="hidden md:block md:align-bottom md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2 "><a href="#">Terms & Conditions</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2 "><a href="#">Privacy Policy</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2"><a href="#">ESG & CSR at Aurion</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px] mb-2"><a href="#">Accessibility</a>
                </span>
                <span class="hidden md:block md:mt-1 md:mx-2">|</span>
                <span class="font-normal text-pgrey-700 hover:text-pgrey-400 text-sm leading-[34px]"><a href="#">Manage Cookies</a>
                </span>
            </div>
        </div>
    </footer>
    
</body>
</html>